<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_party_path(@party) %> |
<%= link_to 'Back', parties_path %>

<h2><%= @party.name%>に参加中のメンバー一覧</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
    </tr>
  </thead>

  <tbody>
    <% @party.members.each do |member|%>
      <tr>
        <td><%= member.name%></td>
        <td><%= member.party_members.find_by(party_id: @party.id, member_id: member.id).role%></td>
        <td><%= link_to "脱退", oparation_member_participate_path(@party, params: { member_id: member.id}), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @party.members.length >= 2 %>
  <%= link_to "幹事を設定する", oparation_member_role_path(@party), method: :put %>
<% end %>

<br>

<h2>グループに未参加のメンバー</h2>

  <table>
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      <% @not_participated_members.each do |npm|%>
        <tr>
          <td><%= npm.name%></td>
          <td><%= link_to "参加", oparation_member_participate_path(@party, { params: { member_id: npm.id } }), method: :put %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
